#joke-btn{
    border-radius:20px;
    border: 1px solid rgb(202, 52, 52);
  
  padding: 0.5vmax;
  cursor: pointer;
  transform: scale(1);
transition: transform 0.5s ease;
}
#joke-btn:hover{
      transform: scale(1.9);
}